<header class="navpane-header">

	<button {{markup_atts( 'navpane-toggle-button', { class : 'menu-toggle toggle-button', 'aria-controls' : 'navpane', 'aria-expanded' : 'false', 'data-triggers' : '#navpane'} )}}>

		<span {{markup_atts( 'navpane-toggle-icon', { class : 's-icon s-icon-hamburger' } )}}><span class="screen-reader-text">Menu</span></span>

	</button>

</header>