<div class="site-branding">

	{{the_custom_logo()}}

	<h1 class="site-title"><a href="{{site.url}}" rel="home">{{site.title}}</a></h1>

	{% if site.description %}

		<p class="site-description">{{site.description}}</p>

	{% endif %}

</div>