<div class="alert block-alert" style="--alert-block-accent: {{block.color}}">
	<span class="alert-icon"><i class="{{block.icon}}"></i></span>

	<div class="entry-body">

		<header class="alert-header">

			<span class="alert-title">{{ block.heading }}</span>

		</header>

		<div class="alert-content">{{ block.content }}</div>

	</div>
</div>