{% if fields.background_image.url %}

<section class="section-block" style="--section-background-img : url('{{ fields.background_image.url }}')">

{% else %}

	<section class="section-block">

{% endif %}

	<div class="section-inner">

		<div class="container">

			<InnerBlocks />

		</div>

	</div>

</section>