<form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}">
	<label class="screen-reader-text" for="s">Search for:</label>
	<input type="text" value="{{ get_search_query() }}" name="s" id="s" data-swplive="true" placeholder="Search..."/>
	<button type="submit" id="submit"><span class="_s_icon _s_icon-search"></span><span class="screen-reader-text">Search</span></button>
</form>