.jetpack-social-navigation {
	.menu {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		margin: 0 -5px;
		li {
			padding: 5px;
		}
	}
}

/*
 * JETPACK SHARING
 */
.sharedaddy {
	.sd-title {
		@include invisible();
	}
	.share-customize-link {
		display: none;
	}
	.sd-sharing {
		margin: 0;
		padding: 0;
	}
	.sd-content, .sd-social-icon-text .sd-content {
		ul {
			@include flexbox( 'row' );
			li {
				margin: 0;
				flex: 1;
				&.share-end {
					display: none;
				}
				a.sd-button {
					display: block;
					width: 100%;
					text-align: center;
					border-radius: 0 !important;
					border: none !important;
					box-shadow: none !important;
					padding: .809em;
					font-family: $sans-serif;
					font-size: .9rem;
					color: #fff !important;
					span {
						display: none;
					}
				}
				&.share-facebook {
					a.sd-button {
						background-color: $facebook-color;
						&:hover, &:focus {
							background-color: darken( $facebook-color, 5% );
							color: #fff;
						}
					}
				}
				&.share-twitter {
					a.sd-button {
						background-color: $twitter-color;
						&:hover, &:focus {
							background-color: darken( $twitter-color, 5% );
							color: #fff;
						}
					}
				}
				&.share-pinterest {
					a.sd-button {
						background-color: $pinterest-color;
						&:hover, &:focus {
							background-color: darken( $pinterest-color, 5% );
							color: #fff;
						}
					}
				}
				&.share-linkedin {
					a.sd-button {
						background-color: $linkedin-color;
						&:hover, &:focus {
							background-color: darken( $linkedin-color, 5% );
							color: #fff;
						}
					}
				}
				&.share-reddit {
					a.sd-button {
						background-color: $reddit-color;
						&:hover, &:focus {
							background-color: darken( $reddit-color, 5% );
							color: #fff;
						}
					}
				}
				&.share-tumblr {
					a.sd-button {
						background-color: $tumblr-color;
						&:hover, &:focus {
							background-color: darken( $tumblr-color, 5% );
							color: #fff;
						}
					}
				}
			}
		}
		.entry-footer & {
			ul {
				display: block;
			}
			ul li a.sd-button {
				background: transparent;
				color: $font-color !important;
				&:hover,
				&:focus {
					background: transparent;
					color: $link-color !important;
				}
			}
		}
	}
}
/* calendar widget */
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; text-align: center;}
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
.widget_calendar tfoot td {
	border: 0;
}
.widget {
	word-break: break-word;
	ul:last-child {
		margin-bottom: 0;
	}
}

/**
 * Masonry Widgets at certain breakpoints
 */
#secondary {
	&.masonry {
		margin-left: 0 - $gutter;
		margin-right: 0 -$gutter;
		.widget {
			width: 50%;
			padding: 0 $gutter;
		}
	}
}

#hero {
	padding: 40px $padding 65px;
	text-align: center;
	a, a:link {
		position: relative;
		display: inline-block;
		&:hover,
		&:focus {
			transform: translate3d( 0, -2px, 0 );
		}
	}
	.hero-title {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 0 0.25em rgba(#000, 65%);
	}
	.entry-meta {
		font-weight: 600;
		color: #fff;
		a, a:link {
			color: #fff;
			border-bottom: 1px dotted #fff;
		}
	}
	.entry-terms {
		ul {
			list-style-type: none;
			list-style-position: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			text-align: center;
			li {
				list-style-type: none;
				list-style-position: none;
				display: inline-block;
				margin-bottom: 5px;
				margin-right: 5px;
				font-size: 12px;
				a, a:link {
					display: inline-block;
					background: rgba(#fff, 0.2);
					font-size: 12px;
					font-weight: 600;
					color: #fff;
					line-height: 1;
					letter-spacing: 1px;
					text-transform: uppercase;
					padding: 4px 6px;
					margin-bottom: 20px;
					height: 20px;
					border-radius: 3px;
				}
			}
		}
	}
	@include breakpoint( 'tablet-small' ) {
		// .hero-title {
		// 	font-size: 60px;
		// }
	}
	@include breakpoint( 'tablet' ) {
		padding: 65px $padding;
		// .hero-title {
		// 	font-size: 80px;
		// }
	}
	@include breakpoint( 'desktop' ) {
		padding: 85px $padding;
		// .hero-title {
		// 	font-size: 100px;
		// }
	}

}

.entry-content pre.wp-block-code {
	margin-bottom: 1.5em;
}
