@font-face {
  font-family: '_scaffolding';
  src:  url('../fonts/_scaffolding.eot?yxdczd');
  src:  url('../fonts/_scaffolding.eot?yxdczd#iefix') format('embedded-opentype'),
    url('../fonts/_scaffolding.ttf?yxdczd') format('truetype'),
    url('../fonts/_scaffolding.woff?yxdczd') format('woff'),
    url('../fonts/_scaffolding.svg?yxdczd#_scaffolding') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_s_icon-"], [class*=" _s_icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '_scaffolding' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._s_icon-facebook2:before {
  content: "\e94d";
  color: #1877f2;
}
._s_icon-github1:before {
  content: "\e94e";
}
._s_icon-instagram1:before {
  content: "\e94f";
  color: #e4405f;
}
._s_icon-linkedin3:before {
  content: "\e950";
  color: #0077b5;
}
._s_icon-myspace:before {
  content: "\e951";
}
._s_icon-pinterest3:before {
  content: "\e952";
  color: #bd081c;
}
._s_icon-soundcloud1:before {
  content: "\e953";
  color: #f30;
}
._s_icon-tumblr1:before {
  content: "\e954";
  color: #36465d;
}
._s_icon-twitter2:before {
  content: "\e955";
  color: #1da1f2;
}
._s_icon-wikipedia:before {
  content: "\e956";
}
._s_icon-wordpress1:before {
  content: "\e957";
  color: #21759b;
}
._s_icon-youtube1:before {
  content: "\e958";
  color: #f00;
}
._s_icon-facebook1:before {
  content: "\e94c";
}
._s_icon-clear:before {
  content: "\e92b";
}
._s_icon-close:before {
  content: "\e92b";
}
._s_icon-quote-1:before {
  content: "\e92f";
}
._s_icon-clear_all:before {
  content: "\e900";
}
._s_icon-dialpad:before {
  content: "\e901";
}
._s_icon-add:before {
  content: "\e902";
}
._s_icon-sort:before {
  content: "\e903";
}
._s_icon-short_text:before {
  content: "\e914";
}
._s_icon-notes:before {
  content: "\e904";
}
._s_icon-keyboard_arrow_down:before {
  content: "\e905";
}
._s_icon-keyboard_arrow_left:before {
  content: "\e906";
}
._s_icon-keyboard_arrow_right:before {
  content: "\e907";
}
._s_icon-keyboard_arrow_up:before {
  content: "\e908";
}
._s_icon-keyboard_backspace:before {
  content: "\e915";
}
._s_icon-dehaze:before {
  content: "\e909";
}
._s_icon-navigate_beforechevron_left:before {
  content: "\e90a";
}
._s_icon-navigate_nextchevron_right:before {
  content: "\e90b";
}
._s_icon-local_offer:before {
  content: "\e916";
}
._s_icon-arrow_back:before {
  content: "\e917";
}
._s_icon-arrow_forward:before {
  content: "\e918";
}
._s_icon-check:before {
  content: "\e919";
}
._s_icon-expand_less:before {
  content: "\e90c";
}
._s_icon-expand_more:before {
  content: "\e90d";
}
._s_icon-menu:before {
  content: "\e90e";
}
._s_icon-keyboard_control:before {
  content: "\e90f";
}
._s_icon-more_vert:before {
  content: "\e910";
}
._s_icon-arrow_upward:before {
  content: "\e91a";
}
._s_icon-subdirectory_arrow_left:before {
  content: "\e91b";
}
._s_icon-subdirectory_arrow_right:before {
  content: "\e91c";
}
._s_icon-arrow_downward:before {
  content: "\e91d";
}
._s_icon-arrow_back_ios:before {
  content: "\e91e";
}
._s_icon-arrow_forward_ios:before {
  content: "\e91f";
}
._s_icon-do_not_disturb_alt:before {
  content: "\e920";
}
._s_icon-code:before {
  content: "\e921";
}
._s_icon-done:before {
  content: "\e922";
}
._s_icon-done_all:before {
  content: "\e923";
}
._s_icon-search:before {
  content: "\e924";
}
._s_icon-subject:before {
  content: "\e925";
}
._s_icon-view_headline:before {
  content: "\e926";
}
._s_icon-reorder:before {
  content: "\e927";
}
._s_icon-zoom_in:before {
  content: "\e928";
}
._s_icon-zoom_out:before {
  content: "\e929";
}
._s_icon-tag1:before {
  content: "\e92a";
}
._s_icon-menu1:before {
  content: "\e911";
}
._s_icon-dot:before {
  content: "\e92c";
}
._s_icon-right:before {
  content: "\e92d";
}
._s_icon-back-1:before {
  content: "\e92e";
}
._s_icon-play_circle_outline:before {
  content: "\e95e";
}
._s_icon-mousescroll:before {
  content: "\e930";
}
._s_icon-price-tag:before {
  content: "\e935";
}
._s_icon-price-tags:before {
  content: "\e936";
}
._s_icon-earth:before {
  content: "\e9ca";
}
._s_icon-twitter1:before {
  content: "\ea96";
}
._s_icon-rss:before {
  content: "\ea9b";
}
._s_icon-rss2:before {
  content: "\ea9c";
}
._s_icon-github:before {
  content: "\eab0";
}
._s_icon-linkedin2:before {
  content: "\eac9";
}
._s_icon-pinterest1:before {
  content: "\ead1";
}
._s_icon-pinterest2:before {
  content: "\ead2";
}
._s_icon-chrome:before {
  content: "\ead9";
}
._s_icon-play:before {
  content: "\e95c";
}
._s_icon-github-alt:before {
  content: "\e959";
}
._s_icon-github-square:before {
  content: "\e95a";
}
._s_icon-github2:before {
  content: "\e95b";
}
._s_icon-wordpress:before {
  content: "\e931";
}
._s_icon-wikipedia-w:before {
  content: "\e932";
}
._s_icon-tumblr-square:before {
  content: "\e933";
}
._s_icon-tumblr:before {
  content: "\e934";
}
._s_icon-soundcloud:before {
  content: "\e937";
}
._s_icon-youtube-play:before {
  content: "\e938";
}
._s_icon-youtube-square:before {
  content: "\e939";
}
._s_icon-youtube:before {
  content: "\e93a";
}
._s_icon-pinterest-p:before {
  content: "\e93b";
}
._s_icon-pinterest-square:before {
  content: "\e93c";
}
._s_icon-pinterest:before {
  content: "\e93d";
}
._s_icon-linkedin-square:before {
  content: "\e93e";
}
._s_icon-linkedin:before {
  content: "\e93f";
}
._s_icon-instagram:before {
  content: "\e940";
}
._s_icon-internet-explorer:before {
  content: "\e941";
}
._s_icon-globe:before {
  content: "\e942";
}
._s_icon-external-link-square:before {
  content: "\e943";
}
._s_icon-linkedin-square1:before {
  content: "\e944";
}
._s_icon-external-link:before {
  content: "\e945";
}
._s_icon-linkedin1:before {
  content: "\e946";
}
._s_icon-chain-broken:before {
  content: "\e947";
}
._s_icon-unlink:before {
  content: "\e947";
}
._s_icon-chain:before {
  content: "\e948";
}
._s_icon-link:before {
  content: "\e948";
}
._s_icon-facebook-official:before {
  content: "\e949";
}
._s_icon-facebook:before {
  content: "\e94a";
}
._s_icon-facebook-f:before {
  content: "\e94a";
}
._s_icon-twitter:before {
  content: "\e94b";
}
._s_icon-hashtag:before {
  content: "\e912";
}
._s_icon-tag:before {
  content: "\e913";
}
._s_icon-play-outline:before {
  content: "\e95d";
}