/**
 * Globals
 */
@import 'globals/mixins';
@import 'globals/variables';
@import 'globals/root';
@import 'globals/toolbox';
@import 'globals/equalize';
@import 'globals/grid';
/**
 * Elements
 */
@import 'elements/typeography';
@import 'elements/buttons';
@import 'elements/embeds';
@import 'elements/forms';
@import 'elements/lists';
@import 'elements/tables';
@import 'elements/widgets';
/**
 * Components
 */
@import 'components/layout';
@import 'components/navigation';
@import 'components/masthead';
@import 'components/hero';
@import 'components/colophon';
@import 'components/sidebar';
@import 'components/navpane';
@import 'components/comments';
@import 'components/authorbox';

/**
 * Addons
 */
@import 'addons/slick';
@import 'addons/woocommerce';

.s-icon-hamburger {
	box-style: border-box;
	display: block;
	position: relative;
	background: var( --s-font-color );
	width: 1.618em;
	height: 2px;
	margin-top: calc( .5em - 1px );
	margin-bottom: calc( .5em - 1px );
	&:before,
	&:after {
		position: absolute;
		display: block;
		left: 0;
		width: 1.618em;
		height: 2px;
		background-color: var( --s-font-color );
		content: ' ';
	}
	&:before {
		top: calc( -.5em + 1px );
		transition: inherit;
		transition: top 0.2s 0.2s, transform 0.2s 0s;
	}
	&:after {
		bottom: calc( -.5em + 1px );
	    transition: bottom 0.2s 0.2s, transform 0.2s 0s;
	}
	a &,
	button & {
		background: var( --s-link-color );
		&:before,
		&:after {
			background: var( --s-link-color );
		}
	}
	a.activating &,
	a.activated &,
	button.activating &,
	button.activated & {
		background: none;
		&:before {
			top: 0 !important;
			transform: rotate(45deg);
			transition: top 0.2s 0s, transform 0.2s 0.2s;
		}
		&:after {
			bottom: 0 !important;
			transform: rotate(-45deg);
			transition: bottom 0.2s 0s, transform 0.2s 0.2s;
		}
	}
}

.s-icon-x {
	--s-font-color : #fff;
	box-style: border-box;
	display: block;
	position: relative;
	// background: var( --s-font-color );
	width: 1em;
	// height: 2px;
	// margin-top: calc( .5em - 1px );
	// margin-bottom: calc( .5em - 1px );
	&:before,
	&:after {
		position: absolute;
		display: block;
		left: 0;
		width: 1em;
		height: 2px;
		background-color: var( --s-font-color );
		content: ' ';
	}
	&:before {
		top: 0 !important;
		transform: rotate(45deg);
		transition: top 0.2s 0s, transform 0.2s 0.2s;
	}
	&:after {
		bottom: 0 !important;
		transform: rotate(-45deg);
		// transition: bottom 0.2s 0s, transform 0.2s 0.2s;
	}
}
